/* Це селектор, який вказує на те, що правила CSS будуть застосовані до всіх елементів <body> на сторінці. */
body{
    /*Встановлює колір тла для тіла сторінки на білий. Колір заданий у форматі RGB.  */
    background-color: rgb(255, 255, 255);
    /*Встановлює колір тексту для всього тіла сторінки на чорний  */
    color:rgb(0, 0, 0);
    /*Встановлює шрифт тексту для всього тіла сторінки. Починаючи з "Oswald", 
    якщо він доступний у системі, а якщо ні, то використовується стандартний шрифт без засічок (sans-serif).  */
    font-family: "Oswald", sans-serif;
    /*Вирівнює все по центру  */
    text-align: center;
}

/*Це селектор, який вказує на те, що правила CSS будуть застосовані до всіх посилань (<a> елементів) на сторінці.  */
a{
    /*Встановлює колір тексту для посилань на сторінці у синій відтінок  */
    color: rgb(42, 20, 237);
    /*Забирає підкреслення з посилань, тобто зроблює їх текст без підкреслення.  */
    text-decoration: none;
}

/*Це селектор, який вказує на те, що правила CSS будуть застосовані до всіх заголовків першого рівня <h1> на сторінці.  */
h1{
    /*Встановлює колір тексту для заголовка першого рівня на чорний  */
    color: rgb(0, 0, 0); 
    /*Вирівнює текст заголовка по центру  */
    text-align: center;
    /*Встановлює розмір шрифту для заголовка першого рівня на 30 пікселів.  */
    font-size: 30px;
}
