<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meta Discounts Codes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>



<body>


    <header>
    <a href="{{ url_for('hello_world') }}" style="text-decoration: none; font-size: 15px;">
        <h1>
            <img src="{{ url_for('static', filename='img/meta_6033716.png') }}" alt="" width="30">
            Meta Discounts Codes
        </h1>
    </a>
    <a href="{{url_for('contacts')}}">Contacts</a>
    </header>


    <main>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, placeat! Beatae minima voluptate facilis
        necessitatibus similique deleniti optio possimus magni, magnam voluptatem obcaecati aliquam porro accusamus
        doloremque harum, recusandae sequi.</p>

    <a href="https://www.oculus.com/experiences/quest/developer-post/7218260371575169/" target="_blank">не натискай</a>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim accusantium est voluptate repellat reiciendis
        corrupti labore aperiam optio omnis deleniti?</p>

    <img src="https://images.unsplash.com/photo-1636051028886-0059ad2383c8?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fG1ldGElMjBxdWVzdHxlbnwwfHwwfHx8MA%3D%3D"
        alt="meta quest photo" widht="1000">
    </main>


    <footer>
    <a href="https://www.freepik.com/search">Icon by Freepik</a>
    </footer>


</body>



</html>